<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- A unique identifier -->
    <key>Label</key>
    <string>com.user.rsnap</string>

    <!-- Command to run -->
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/rsnap.sh</string>
        <string>-s</string>
        <string>/Users/yourname/Documents</string>
        <string>-d</string>
        <string>/Volumes/BackupDrive</string>
        <string>-v</string>
        <string>MyVaultName</string>
        <string>-f</string>
        <string>hfs</string>
        <string>-S</string>
        <string>-n</string>
        <string>idle</string>        
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/opt/local/bin</string>
    </dict>    

    <!-- Where to log output -->
    <key>StandardOutPath</key>
    <string>/Users/yourname/Library/rsnap.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/yourname/Library/rsnap.stderr.log</string>

    <!-- Run once per day at 02:00 AM -->
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>2</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <!-- Keep it alive if it crashes -->
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
